@font-face {
    font-family: Autobus;
    font-style: normal;
    font-weight: normal;
    src: url(fonts/Autobus-Bold.ttf);
}

body {
  background-color: grey;

}

.hidden-alert{
  /*visibility: hidden !important;*/
  width: 100%;
  box-sizing: border-box;
  padding: 2vmin;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#loginBox {
  padding: 5vmin;
  background-color: white;
  margin: 1vmin;
}

#loginForm {

}

.spacer {
  height: 10vmin;
  width: 100%;
}

#logo-image {
  position: absolute;
  text-align: center;
  margin-top: 0.5vmin;
  margin-bottom: 0.5vmin;
  max-width: 5vmin;
  max-height: 5vmin;
}

#company-name {
  position: absolute;
  text-align: right;
  color: white;
  width: 100%;
  margin-top: 0.5vmin;
  margin-bottom: 0.5vmin;
  /*left: 0.5vmin;*/
  font-size: 5vmin;
  font-family: Autobus, Arial, sans-serif;
}

.header-size {
  max-height: 8vmin;
  height: auto;
  margin-bottom: 3vmin;
}
