@font-face {
    font-family: Autobus;
    font-style: normal;
    font-weight: normal;
    src: url(fonts/Autobus-Bold.ttf);
}

#background {
  background-color: grey;
  background: rgb(181,189,200); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 98%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 98%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 98%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.hide-element{
}

#emptyBoxAlert{
  display: none;
}

#incorrectLoginAlert{
  display: none;
}

.hidden-alert{
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginBox {
  padding: 5vmin;
  background-color: white;
  margin: 1vmin;
}

#loginForm {

}

.spacer {
  height: 3vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vmin;
}

#logo-image {
  margin-left: 1vmin;
  max-height: 10vmin;
  height: auto;
  width: auto;
}

#company-name {
  text-align: center;
  color: white;
  width: 100%;
  min-height: 5vmin;
  max-height: 10vmin;
  margin-top: 2vmin;
  font-size: 7vmin;
  font-family: Autobus, Arial, sans-serif;
}

.header-size {
  padding-top: 2vmin;
  max-height: 10vmin;
  height: auto;
  margin-bottom: 3vmin;
  width: 100%;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.no-scroll {
  position: fixed;
}

#frame {

}

#sidebar{
  background-color: red;
  height: 90vh;
}

#sidebar-content{
  width: 90%;
  height: 100%;
  background-color: white;
}

#content-area{
  background-color: green;
  height: 90vh;
}

#content-area-content{
  width: 90%;
  height: 100%;
  background-color: white;
}
